<div class="article">
	<h2>The year 2100, Starting the Century of Chaos</h2>
	<img src="img/article1.jpg" alt="placeholder image">
	<p>
		Today I was driving to work, when suddenly I saw a big, pink(ish) thing with three arms on the road ahead of me, impaling a lollipop lady. I couldn’t stop and hit him full on – I saw his legs fly off. I expected him to be dead, but he used his arms to try and climb up my windscreen. I slammed on the brakes and my car whizzed around, sending him flying into a wall, but then I saw more behind me, and I tried to drive off. But my car wouldn’t budge. It seemed to be stuck on something, but I couldn’t tell what. So then I heard a whistling noise behind me, and everything went quiet.<br><br>

		I woke up later, I’m not sure how long for. I searched the car, and found a large sandwich, my phone, in working condition, and a road map of the Massachusetts. I stuffed them into my pockets and looked around.
		The air was filthy, full of these little pink blobs, around the size of a crumb. They were everywhere, and as I looked around for any other life forms, I tried not to breath them in. I doubt they would help me at all.<br><br>

		I didn’t find anyone, and as it was starting to get quite dark, I grabbed my sandwich out of my pocket and scoffed it down for dinner. Boy, was I hungry.<br><br>

		I guess flinging a mutant pink thing from your car and then getting bombed makes you pretty hungry.
	</p>
</div>
<hr>
<div class="article">
	<h2>Survival First, Acceptance Comes Later</h2>
	<img src="img/article2.jpg" alt="placeholder image">
	<p>
		This morning I was sleeping next to my car, when I heard a huge explosion. I leapt up and saw a big petrol truck – or should I say, the remains of one. I ran to see if the driver was alive, and as I swung open the door, a human corpse fell out on top of me.
		Needless to say, I panicked a bit – swearing loudly, I kicked it off me and turned to race back to the car, but I tripped and fell flat on my face. I heaved myself up, and ran back to the car. But it wasn’t there. I saw the same rubble and remains of buildings, missing only one thing – my car. This was a problem, because I used it as shelter and if I came across another mutant thing, I did not want to be without shelter.<br><br>

		I searched around for some kind of building or vehicle I could use as a base. After about an hour, I found a small house surrounded by what used to have been apple trees, by the look of them. Unfortunately, they were bare, and didn’t look like they’d have anything better on them anytime soon.<br><br>

		I found a desk, and as I was placing my stuff on it, remembered my map. I held my breath as I scanned it, and found what I was looking for – a cafè, quite near my location. Unfortunately, I didn’t have a GPS, so I’d have to look for it by looking at my surroundings, which meant progress would be slow. I decided to rest now, and begin tomorrow.<br><br>

		I then realised I was still holding my breath, and was about to pass out.
	</p>
</div>
<hr>
<div class="article">
	<h2>Survival of the Fittest.. and Fastest</h2>
	<img src="img/article3.jpg" alt="placeholder image">
	<p>

		I apologise for the delay in posts, but just a few minutes after I posted my second day, I came across another mutant. As you can imagine, he was not very obliging when I yelled at him to go away, and I was only saved by ducking at the last second as he came barreling towards me. He tripped over me, which knocked my phone out of my hands, and then fell down the drop behind me. I heard, after a few seconds, a cry of pain, but I was too busy panicking about my phone to care much about it.<br><br>

		I went searching around for a few days, both for my phone, and supplies, and succeeded in finding the latter. I came across an old barn, and when I looked inside, saw that it was filled with bread, and cheese, and all manner of other usually common foods. But the main thing it had was water. If I hadn’t found this barn, I highly doubt I would be typing this right now.<br><br>

		The other thing I found was a backpack, which was unfathomably helpful. I stashed everything in it and went to continue the search for my phone. Without it, I would be completely stuffed.<br><br>
		I walked around searching for a while, and twice I came close to running into a mutant. Eventually, after I think four days, I found my phone and the mutant’s body. I cautiously snuck over, and slowly reached down to my phone. As soon as I laid hands on it, I quickly withdrew my hand, then froze.<br><br>

		I could have sworn his eye moved, but he seemed pretty dead. I drew back, slowly, and then, when I was about two metres away, I ran.<br><br>

		That was a pretty testing day.
	</p>
</div>
