<h2>Portfolio Of Ruins</h2>
<div class="container">
	<figure>
		<img src="img/ruins2.jpg" alt="London Ruins">
		<br>
		<p>Remains of London</p>
	</figure>
	<figure>
		<img src="img/ruins4.jpg" alt=" NEW Roman Ruins">
		<br>
		<p>Remains of Rome</p>
	</figure>
	<figure>
		<img src="img/ruins3.jpg" alt="Toronto Ruins">
		<br>
		<p>Remains of Toronto</p>
	</figure>
	<figure>
		<img src="img/ruins5.jpg" alt="Denmark Ruins">
		<br>
		<p>Remains of Denmark</p>
	</figure>
	<figure>
		<img src="img/ruins6.jpg" alt="Washington DC Ruins">
		<br>
		<p>Remains of Washington DC</p>
	</figure>
	<figure>
		<img src="img/ruins1.jpg" alt="Moscow Ruins">
		<br>
		<p>Remains of Moscow</p>
	</figure>
	<figure>
		<img src="img/ruins7.jpg" alt="Chicage Ruins">
		<br>
		<p>Remains of Chicago</p>
	</figure>
	<figure>
		<img src="img/ruins8.jpg" alt="Parisian Ruins">
		<br>
		<p>Remains of Paris</p>
	</figure>
	<figure>
		<img src="img/ruins9.jpg" alt="New York Ruins">
		<br>
		<p>Remains of New York</p>
	</figure>
</div>
